.loader {
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #626465; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  z-index: 2000;
}

.loaderText {
  color: #212121 !important;
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}

.dimmer {
  display: none;
  position: absolute;
  top: 0!important;
  left: 0!important;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 1em;
  background-color: rgba(0,0,0,.85);
  opacity: 0;
  line-height: 1;
  animation-fill-mode: both;
  animation-duration: .5s;
  transition: background-color .5s linear;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: opacity;
  z-index: 1000;
}

.dimmerActive {
  opacity: 0.8;
  background-color: #fff;
  display: flex !important;
  visibility: visible!important;
}

.dimmable {
  position: relative;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}