.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 220px;
  padding: 10px;
  text-align: center;
  border-radius: 6px;
  border: 1px solid #bababc;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(34 36 38 / 12%), 0 2px 10px 0 rgb(34 36 38 / 15%);
  position: absolute;
  z-index: 1;
  line-height: 18px;
  bottom: 190%;
  left: -60%;
}

.tooltiptext:before {
  position: absolute;
  content: '';
  width: 0.71428571em;
  height: 0.71428571em;
  background: #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1000;
  -webkit-box-shadow: 1px 1px 0 0 #bababc;
  box-shadow: 1px 1px 0 0 #bababc;
  bottom: -0.30714286em;
  left: 1em;
  top: auto;
  right: auto;
  margin-left: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}